.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
Guia Trabajo SARIMA.pdf
statistic_id244995_spotifys-premium-subscribers-2015-2025.xlsx
statistic_id367739_spotifys-monthly-active-users-2015-2025.xlsx
statistic_id813835_spotifys-quarterly-revenue-2016-2025-by-segment.xlsx
statistic_id813888_spotifys-premium-subscribers-in-latin-america-2019-2025.xlsx
Spotify_logo_3.png